@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  @apply dark:text-white text-black bg-[#070600];
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  @apply font-audio font-bold text-[#D4EAC8];
}
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

p {
  @apply font-thin font-mon lg:text-lg text-[#7CF0BD];
}
/*
colors 
paradise pink #EA526F 
aquamarine #7CF0BD
yellow #EAD94C
space $3B3561
lilac #7F6A93
orange #FF9914
black1 #22181C
black2 #070600
green-tea #D4EAC8
random collor palete link -> https://coolors.co/822e81-aa6373-f0f2a6-392061-1a1b25
 */
